
### PROYECTO C++ ###

Proyectos_IG.01/.vs/
Proyectos_IG.01/IG.01_app/x64/
Proyectos_IG.01/bin/IG1AppDebug.exe
Proyectos_IG.01/bin/IG1AppDebug.ilk
Proyectos_IG.01/bin/IG1AppDebug.pdb

P.2v.4 - IG - Grupo.05/Proyectos_IG.01/.vs/
P.2v.4 - IG - Grupo.05/Proyectos_IG.01/bin/
P.2v.4 - IG - Grupo.05/Proyectos_IG.01/IG.01_app/x64/
